<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
         <title><%= yield(:title) %>|Social Network</title>
    </head>
    <body>
        <h1>About</h1>
            <p>
                After successfully completing our first test we added this about page that
                works perfectly.
            </p>
    </body>
</html>
