<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
         <title><%= yield(:title) %>|Social Network</title>
    </head>
    <body>
      <div class="center jumbotron">   
        <h1>About</h1>
        <p>
           This web is a mini website were building at <a href="http://www.bonevet.org/blog/">Bonevet</a> in the course of <a href="https://www.facebook.com/groups/rubyonrailsbonevet">Ruby on Rails</a>
        </p>
      </div>
    </body>
</html>
