<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
    <head>
         <title><%= yield(:title) %>|Social Network</title>
    </head>
    <body>
        <h1>Contact</h1>
        <p>To contact us you can go to this group <a href="https://www.facebook.com/groups/rubyonrailsbonevet">Bonevet</a>
            or you can contact me personaly with <a href="https://www.facebook.com/ajriii">Ajri Sylhasi</a>. :)
        </p>
    </body>
</html>

