<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
    <head>
         <title><%= yield(:title) %>|Social Network</title>
    </head>
    <body>
        <h1>HELP</h1>
        <p>
            If you need help regarding this course please contact the Masters of Disaster on
            <a href="https://www.facebook.com/groups/rubyonrailsbonevet/">Facebook.</a>
        </p>
    </body>
</html>
