<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
         <title><%= yield(:title) %>|Social Network</title>
    </head>
    <body>
        <h1>THE MOST AWESOME SOCIAL NETWORK IN THE PLANET</h1>
        <p>
            This is the social network we are creating in the course of RoR at
            <a href="http://www.bonevet.org/">BONEVET.</a>
        </p>
    </body>
</html>

