<% provide(:title, "Sign Up") %>
<!DOCTYPE html>
<html>
    <head>
         <title><%= yield(:title) %>|Social Network</title>
    </head>
    <body>
      <div class="center jumbotron">    
        <h1>Sign Up</h1>
        <p>
            At the moment this part is under construction . Sorry for the inconvenience .
        </p>
      </div>
    </body>
</html>
