<footer class="footer">
  <small>
    The Social Network
    by <a href="http://wwww.facebook.com/groups/rubyonrailsbonevet">Ruby on Rails group</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", 'https://social-net-ajrisylhasi.c9users.io/static_pages/about' %></li>
      <li><%= link_to "Contact", 'https://social-net-ajrisylhasi.c9users.io/static_pages/contact' %></li>
      <li><a href="http://www.bonevet.org/blog/">News</a></li>
    </ul>
  </nav>
</footer>